.size {
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: #6D5D6E;
}
.size li {
    list-style: none;
    color: black;
    width: 65px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 2px solid black;
    cursor: pointer;
    font-weight: 500;
    opacity:0.5;
}

.size li:hover {
    background: #393646;
    color: white;
}

li {
    font-size: 15px;
    text-align: center;
}


