h1, h2, h3 {
  text-align: center;
}

body {
  background-color: #D7CEC7;
}

table, th, td {
  border: none;
}

td {
  padding-left: 18px;
  padding-right: 18px;
  color: black;
}

th {
  font-size: 20px;
}

h1, h2 {
    color: #76323F;
}

h3 {
    color: #76323F;
}

p { 
    padding-left:16px;
    text-align: center;
}
body {
    margin: 0;
    font-family: Verdana;
}
  
  .topnav {
    overflow: hidden;
    background-color: #565656;
}
  
  .topnav a {
    float: left;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  .topnav a:hover {
    background-color: #EEEEEE;
    color: black;
}
  
  .topnav a.active {
    background-color: tan;
    color: #EEEEEE;
}
