button {
  color: black;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
  background-color: white;
  color: black;
  border: 2px solid Grey;
}

button:hover {
  background-color: Grey;
  color: white;
}

h1, h2 {
  text-align: center;
}

body {
  background-color: lightgray;
}

table, th, td {
  border: none;
}

td {
  padding-left: 18px;
}

